$color-error: #e74c3c;
$color-success: #27ae60;

.popup {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: all 0.3s ease;
    opacity: 1;

    &-icon {
        margin-right: 1rem;

        svg {
            width: 24px;
            height: 24px;
            fill: rgb(28, 85, 28);
        }
    }

    &-message {
        font-size: 1.4rem;
        color: #fff;
    }

    &-error {
        background-color: $color-error;
    }

    &-success {
        background-color: $color-success;
    }

    &.fade-out {
        opacity: 0;
        transform: translateY(-10px);
    }
}