@use 'sass:color';
@use 'base';

$color-grey-light-2: rgba(137, 255, 6, 0.7);
$color-green-1: rgba(102, 225, 55, 1);
$color-green-2: rgba(88, 220, 36, 1);
$color-green-3: rgba(65, 205, 11, 1);

.recipe {
  background-color: base.$color-grey-light-1;

  @media (max-width: base.$bp-small) {
    margin-top: 4rem;
  }

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom,
          base.$color-grad-1,
          base.$color-grad-2 );
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    @media (max-width: base.$bp-medium) {
      width: 75%;
    }

    @media (max-width: base.$bp-smallest) {
      font-size: 2rem;
    }

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(to right bottom,
          base.$color-grad-1,
          base.$color-grad-2 );
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;

    @media (max-width: base.$bp-large) {
      padding: 7rem 6rem 3.5rem;
    }

    @media (max-width: base.$bp-medium) {
      padding: 6.5rem 2rem 3rem 3rem;
    }

    @media (max-width: base.$bp-small) {
      padding: 5rem 1rem 3rem;
    }

    @media (max-width: base.$bp-smallest) {
      display: grid;
      gap: 3rem 1rem;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "info1 info2 ."
        "user-generated delete bookmark";

      .recipe__info:nth-of-type(1) {
        grid-area: info1;
      }

      .recipe__info:nth-of-type(2) {
        grid-area: info2;
      }

      .recipe__user-generated {
        grid-area: user-generated;
      }

      .recipe__delete {
        grid-area: delete;
      }

      .btn--bookmark {
        grid-area: bookmark;
        position: relative;
        right: 8rem;
      }
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (max-width: base.$bp-smallest) {
      justify-content: center;
    }

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: base.$color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: color.adjust(base.$color-grey-light-2, $lightness: 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
    margin-right: auto;
    margin-left: 1.75rem;

    @media (max-width: base.$bp-smallest) {
      position: relative;
      left: 2rem;
    }

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: base.$color-primary;
    }
  }

  &__delete {
    margin-right: 1rem;
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background: linear-gradient(90deg,
        $color-grey-light-2 0%,
        $color-green-1 33%,
        $color-green-2 63%,
        $color-green-3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;

    @media (max-width: base.$bp-smallest) {
      grid-template-columns: 1fr;
    }
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: base.$color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: base.$color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}